{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Delete SubTask</h4>
    <div class="card">
      <div class="card-body">
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <form method="post">
          {% csrf_token %}
          <a href="{% url 'subtask-list' %}" class="btn btn-light">Cancel</a>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
